body{
font-family: Arial;
background:#f5f5f5;
margin:0;
padding:40px;
}

.project-report{
max-width:900px;
margin:auto;
background:white;
padding:30px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
border-radius:8px;
}

.project-report h2{
text-align:center;
margin-bottom:20px;
}